@model Data.Administrador

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Administrador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.usuarioAdministrador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioAdministrador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contrasennaAdministrador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contrasennaAdministrador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreAdministrador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreAdministrador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidosAdministrador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidosAdministrador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nivelAcceso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nivelAcceso)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
